*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    cursor: default;
    justify-content: center;
}
section{
    height: 100%;
}
a{
    text-decoration: none;
    list-style: none;
}
.top_list{
    position: relative;
    background: black;
    text-align: center;
    width: 100%;
    height: 50px;
    z-index: 1;
    /*position: fixed;*/
}

.navbar_menu{
    position: relative;
    text-decoration: none;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*float: right;*/
    padding: 0;
    margin: 0;
    width: 100%;
    /*text-align: center;*/
    background: black;
    color: white;
}

.navbar_menu li{
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 16px;
    text-align: center;
    font-size: 20px;
}
.navbar_menu a{
    text-decoration: none;
    color: white;
    border: transparent 1px solid;
}
.navbar_menu a:hover{
    /*color: lightpink;*/
    border: 1px solid white;
    transition: all 300ms ease-in;
    padding: 2px;
}
#home{
    background: url("img/bg2.png") no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    height: 500px;
    padding-left: 200px;
}
.home_word{
    /*display: flex;*/
    flex-direction: column;
    height: 250px;
    text-align: center;
    flex-grow: 5;
    margin-top: 60px;
}
.home_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 110px 30px 30px 60px;
}

.home_title{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.home_description{
    text-align: center;
    margin-top: 20px;
}
.home_text{
    margin-top: 20px;
    font-size: 20px;
}
.home_button{
    margin-top: 20px;
    font-size: 30px;
    background: transparent;
    border: white 2px solid;
    padding: 5px;
    margin-bottom: 20px;
}
.home_button:hover{
    background: lightpink;
    color: white;
    transition: all 500ms ease-in-out;
}
.home_button a{
    text-decoration: none;
    color: white;
}
#about{
    background: black;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.about_all{
    flex-grow: 6;
    font-size: 40px;
}
.about_title{
    text-align: center;
    padding-top: 20px;
}
.about_text{
    position: relative;
    top: 20%;
    font-size: 30px;
    text-align: center;
}

.about_img{
    width: 300px;
    height: 400px;
    flex-grow: 4;
    padding: 20px 0;
    position: relative;
    top: 10%;
}

#skills{
    background: lemonchiffon;
}
.skills__title h1{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
.skills__title h2{
    text-align: center;
    padding-top: 20px;
}

.skills__title p{
    text-align: center;
    padding-top: 10px;
}
.skillSet{
    display: flex;
    background: lightgray;
    color: white;
    margin: 15px 0;
}

.skillSet__title{
    color: white;
    text-align: center;
    font-size: 25px;
}

.skills__title h1{
    font-size: 40px;
}
.skillSet__left{
    flex-basis: 60%;
    /*100%를 기준으로 배율을 정한다. */
    background: darkgray;
    padding: 20px 40px;

}
.skill_description{
    display: flex;
    justify-content: space-between;

}
.skill{
    margin-bottom: 32px;
}

/*스킬바*/
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: gray;
}

.skill__value{
    height: 3px;
    background-color: orange;
}

.skillSet__right{
    flex-basis: 40%;
}

.tools{
    background: gray;
}
.tools__list,.etc__list{
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 15px;
}
.tools, .etc{
    padding: 20px;
}
#projects{

}
.project_title{
    text-align: center;
    font-size: 50px;
}
.project_content{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 5ms ease-out;
}

/*.work__projects.anim-out {*/
/*    opacity: 0;*/
/*    transform: scale(0.96) translateY(40px);*/
/*}*/

.project {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 2px;
    background-color: white;
}

.project.invisible {
    display: none;
}

.project__img {
    width: 300px;
    height: 300px;
    align-self: center;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 500ms ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: orange;
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: darkgrey;
}
.project__description span{
    color: white;
}



#contact{
    background: lightpink;
    position: relative;
    height: 300px;
    text-align: center;
}

.contact-title{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: white;
}
.contact-context{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
.fa-github{
    font-size: 50px;
    padding-top: 20px;
    color: white;
}
.fa-github:hover{
    color: black;
    transform: scale(1.1);
    transition: all 500ms ease-in;
}

/*모바일 크기시 적용*/
@media screen and (max-width: 900px){
    #home{
        display: flex;
        flex-direction: row;
    }
    .home_word{
        flex-direction: row;

    }
}